
/* Miscellanious */

.categories_text {
    color: #f8c8ab;
    font-size: 18px;
    letter-spacing: 0.1em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    
    display: block;
    background: url(../../images/select.png) no-repeat 95% center;
    background-color: black;
    color: #e5e5e5;
    padding: 1%;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid #fff;
    
}

.channel_recommend {
    background: #fbe4c2;
    color: #222;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);

}

.forms {
    text-align: left;
    margin: 0 25%;
}

.tags_text {
    font-size: 24px;

}

.selections {
    font-size: 24px;
    padding: auto;
    width: 50%;
}

a:hover {
    color: #6666ff;
}

a:visited {
    color: #6666ff;
}

/* Top Section */

header {
    background: #cdbac7;
    
}

header:after {
    content: "";
    display: block;
    clear: both;
}

.topnav {
    float: right;
    margin: 10px 0;
}

/* Body */

body {
    background: #0e1111;
    color: #f8c8ab;
    margin: 0;
    font-family: arial;
}

.main {
    clear: right;
}

.logo {
    text-align: center;
    margin: 100px;
    
}

.description {
    margin: auto 25%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 26px;
    
}

.gh_logo {
    width: 1em;
    height: 1em;
}

.button {
    text-align: left;
}

.channel_recommend {
    margin: 5% 0%;
}

button:hover {
    /*border-radius:*/
    background-color: #9999ff;
}

button:active {

}

.wrapper:after {
    content: "";
    display: block;
    clear: both;
}



/* Bottom */

.bottom {
    
}

.botnav {
    text-align: center;
    /*position:*/
}
